.navbar{
    display: flex;
    justify-content: center;
    background-color: pink;
}
li{
    color: black;
    text-decoration: none;
}
.link{
    text-decoration: none;
}

.navTotal{
    position: absolute;
    top: 33px;
    border-radius: 20px;
    background-color: white;
    width: 20px;
    text-align: center;
}


.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  
    max-width: 1308px;
}

.left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin: 20px 0px;
}

.logo{
    height: 70px;
    border-radius: 45px;
}

.mainNav{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

li{
    list-style: none;
   

}

.right{
    display: flex;
    gap: 10px;
}
 button{
    padding: 10px 15px;
    border:none;
    outline: none;
    border-radius: 5px;
    
 }

 .login{
    background-color:  rgb(250, 128, 149);
 }

 button:hover{
    border:1px solid gray;
    cursor: grab;
 }
 .hamburger{
    display: none;
}



 @media (min-width: 10px) and (max-width: 669px) {
    .mainNav{
        display: none;
    }
    .right{
        display: none;
    }
.hamburger{
    display: flex;
}
} 

.logOutBttn{
    position: absolute;
    top: 70px;
}