.section{
    display: flex;
    justify-content: center;
   padding-bottom: 20px;
   background-color: rgb(251, 254, 255);
    
   

}
.imageList{
    height: 150px;
    width: 150px;
    border-radius: 4px;
    margin: auto;
    
    
}
.section-head{
    max-width: 1308px;
    width: 100%;
}
.ready{
    text-align: center;
    font-size: 35px;
    padding: 30px 0px;
    color: rgb(245, 148, 164);
}

.section-list{
    display: flex;
    justify-content: space-between;
    max-width: 1308px;
    width: 100%;
    margin: 60px 0px;
   
   
    
}

.desc{
    margin-top: 20px;
   padding-left: 30px;
   padding-right: 30px;
   padding-bottom: 30px;
   padding-top: 10px;
    text-align: center;
   
    font-size: 15px;
}

.sectionList{
    border-radius: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    max-width: 380px;
    background-color:rgb(255, 255, 255);
    padding: 30px 10px;
    box-shadow: 10px 10px 5px 0px rgba(188,188,188,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(188,188,188,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(188,188,188,0.75);
    
    
}

/* .sectionList:hover{
    transform: translateY(-1.5rem);
    
} */

@media (min-width: 280px) and (max-width: 669px) {
    .section-list{
     display: flex;
     flex-direction: column;
     gap: 10px;
     max-width: 500px;
     align-items: center;
     width: 100%;
     justify-content: space-between;
    }
    .sectionList{
        width: 100%;
   }

} 

@media (min-width: 669px) and (max-width: 1180px) {
    .section-list{
     display: flex;
     
     gap: 10px;
     align-items: center;
     justify-content: space-between;
    }
    .sectionList{
        width: 100%;
   }

} 